//.container {
//  padding: .5rem 2rem;
//}
.json-view-wrapper {
  display: flex;
  justify-content: space-between;
  div div {
    border: 1px solid #a7a7a7;
    height: 60vh;
    width: 48vw;
    overflow-y: auto;
  }
}
