/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 1rem;
  background-color: #efefef;
}


.ngx-json-viewer {
  overflow-y: auto !important;
}

.highlight-modified {
  background-color: #ead59e;
}
.highlight-added {
  background-color: #7dcba6;
}
.highlight-removed {
  background-color: #e7a2a7;
}
